/* Center the Action Column */
tr :nth-child(3) {
    text-align: center;
}

.past {
    background-color: #adb5bd;
}

.jumbotron, .current {
    background-color: #7bdff2;
}

.empty {
    background-color: #95d5b2;
}

.filled {
    background-color: #52b788;
}
